---
import DoughnutChart from "./DoughnutChart.astro";
import BarChart from "./BarChart.astro";
import { VOTE_TYPE_STRING } from "../lib/mappers.ts";

interface Props {
  total: {
    inFavor: number;
    against: number;
    absent: number;
  };
  byYear: {
    period: string;
    inFavor: number;
    against: number;
    absent: number;
  }[];
}
const { total, byYear } = Astro.props;
---

<section class="section-card glass-panel">
  <h2 class="section-title">Votos</h2>
  <DoughnutChart
    title="Total"
    labels={[
      VOTE_TYPE_STRING.IN_FAVOR,
      VOTE_TYPE_STRING.AGAINST,
      VOTE_TYPE_STRING.ABSENT,
    ]}
    data={[total.inFavor, total.against, total.absent]}
  />

  <BarChart
    title="Por Año"
    periods={byYear.map((s) => s.period)}
    datasets={[
      {
        label: VOTE_TYPE_STRING.IN_FAVOR,
        data: byYear.map((s) => s.inFavor),
      },
      {
        label: VOTE_TYPE_STRING.AGAINST,
        data: byYear.map((s) => s.against),
      },
      {
        label: VOTE_TYPE_STRING.ABSENT,
        data: byYear.map((s) => s.absent),
      },
    ]}
  />
</section>
